body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**************************RESPONSIVE************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .pt-colum {
        width: 100%;
        padding: 4% 0;
    }
    div > .pt-ladi-container {
        width: 85%;
    }
    div > .pt-icon2 {
        width: 0;
    }
    div > .pt-icon3 {
        width: 0;
    }
    div > .pt-icon1 {
        width: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    .pt-colum {
        width: 46%;
        padding: 2%;
    }
    div > .pt-ladi-container {
        width: 95%;
    }
    div > .pt-icon2 {
        width: 0;
    }
    div > .pt-icon3 {
        width: 0;
    }
    div > .pt-icon1 {
        width: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .pt-colum {
        width: 29.33%;
        padding: 2%;
    }
    div > .pt-ladi-container {
        width: 90%;
    }
    .pt-volume {
        font-size: 17px;
        bottom: 4px;
        right: 7px;
    }
    div > .pt-border-dashed {
        border: 5px dashed rgba(230, 54, 125, 0.4);
    }
    div > .pt-icon2 {
        width: 0;
    }
    div > .pt-icon3 {
        width: 0;
    }
    div > .pt-icon1 {
        width: 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .pt-colum {
        width: 23%;
        padding: 1%;
        z-index: 1;
    }
    div > .pt-ladi-container {
        width: 85%;
        margin: 0 auto;
    }
    div > .pt-icon2 {
        width: 100%;
    }
    div > .pt-icon3 {
        width: 100%;
    }
    div > .pt-icon1 {
        width: 100%;
    }
}



/**********************KHẮC PHỤC LỖI CỦA FLOAT LEFT*******************/
div {
    zoom: 1;
}
div:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
/********************************************************************/
.pt-container {
    position: relative;
    overflow: hidden;
    background-color: rgb(129, 189, 11);
}
.pt-mg-img {
    float: left;
}
.pt-img {
    position: relative;
}
div > .pt-ladi-container {
    margin: 0 auto;
}
.pt-border-dashed {
    position: relative;
    transition: transform 0.3s;
    height: 88%;
    border: 6px dashed rgba(230, 54, 125, 0.4);
    background-color: white;
}
div > .pt-border-dashed:hover {
    transform: scale(1.1);
}
div > .pt-border-dashed:hover .pt-volume {
    opacity: 1;
    transition: opacity 0.7s;
}
/**********************NUT LOA*************************/
.pt-volume {
    position: absolute;
    transition: transform ease 3s;
    opacity: 0;
    font-size: 25px;
    color:rgba(230, 54, 125, 0.4);
    bottom: 5px;
    right: 10px;
}
.pt-volume:hover {
    transform: scale(1.2);
}

/*****************ICON XUNG QUANH*****************/
.pt-icon3-ctn {
    left: 0;
    position: absolute;
    width: 132px;
    top: 453px;
    z-index: 0.9;
}
.pt-icon2-ctn {
    width: 220px;
    position: absolute;
    right: -78px;
    top: 0;
    z-index: 0;
}
.pt-icon2, .pt-icon3, .pt-icon1, .pt-img-abc {
    width: 100%;
}
.pt-icon1-ctn {
    position: absolute;
    right: 300px;
    z-index: 0.9;
    bottom: 0;
    width: 240px;
}



/**************************************************RAU CU QUA********************************************/
.pt-container-vegetable {
    width: 90%;
    margin: 0 auto;
}
.pt-vegetable {
    width: 25%;
    float: left;
    margin-top: 30px;
}
.pt-img-wrap-vegetable {
    width: 80%;
    margin: 0 auto;
}
div.pt-wrap-lump {
    width: 303px;
    height: 306px;
}
img.pt-img-vegetable {
    width: 100%;
    object-fit: contain;
}
h1.pt-h1-vegetable {
    text-align: center;
}